body {
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
/*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,9,121,1) 35%, rgba(42,0,255,1) 100%);*/
background: rgb(121,118,118);
background: linear-gradient(90deg, rgba(121,118,118,1) 0%, rgba(163,163,163,1) 35%, rgba(205,205,205,1) 100%);
}
.menubar{
    background: #4acaa8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    padding: 10px 20px;
}
.contenido-principal{
    padding-left: 20%;
    /*border: 10px solid red;*/
    
}
section{
    padding: 0 10%;
    padding-top: 10%;
    color: black;
    height: 98vh;
}
.menubar li  a{
    text-decoration: none;
    font-weight: 700;
    color: aliceblue;
    font-size: 20px;
    padding: 0.85em 0;
   
}

#educacion{
    border-top: solid 6px #f4f4f4;  
}
#habilidades{
    border-top: solid 6px #f4f4f4; 
}
#experiencia{
    border-top: solid 6px #f4f4f4;
}
#contacto{
    border-top: solid 6px #f4f4f4;
}

p{
    padding-left: 30px;
}
.icons{

    font-size: 38px;
    padding-top: 10px;
    margin-right: 20px;
}

.menubar-mobile{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
.imagen_perfil img{
    width: 200px;
    height: 220px;
    border: 2px solid salmon;

}



@media screen and (max-width:780px) {
    .menubar-mobile{
        display: block;
    }

    .menubar{
        display: none;
    }
    .main-content{
        padding: 0;
        padding-bottom: 10px;
    }
    .contenido-principal {
        padding: 0;
        padding-bottom: 10px;
    }

    #project img{
        width: 100%;
    }

    section{
        height: 90%;
    }

    .menubar li  a{
        font-size: 12px;
    }
    a{
        padding-left: 40%;
    }
    section h2{
        font-size: 25px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

}

